{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
    {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post" class="mt-3 col-lg-4  col-md-6 col-sm-10 my-5 mx-auto border p-3 rounded">
     {% bootstrap_form form %}
        {% csrf_token %}
        <button type="submit" class="d-block mx-auto btn btn-success mb-5" > Change password</button>
            <!-- <table> -->
                <!-- <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password"></td>
                </tr>
            </table> -->
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}