{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}


{% block content %}
<div class="container my-5">
  <div class="row col-8 col-lg-4 col-md-6 col-sm-8 mx-auto border rounded p-3">
    <h1 class="text-center fs-1">Reset</h1>
    <form action="" method="post">
      {% csrf_token %}
      <p></p>
      {% if form.email.errors %}
        <div class="alert alert-danger">
          {{ form.email.errors }}
        </div>
      {% endif %}
      <label for="id_email">Enter Your Email</label>
      <p class="text-center mt-2">{{ form.email }}</p>
      <button type="submit" class="d-block w-50 btn btn-success mx-auto mt-3">
        Reset password
      </button>
    </form>
  </div>
</div>
{% endblock %}
