<div style="background-color: #c2c2c2; padding: 15px;">
    <h2
        style="margin: 0; padding: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; background-color: #5865F2; color: #ffffff;">
        Welcome Email</h2>
    <div style="margin: 0; padding: 15px; background-color: #ffffff;">
        <p>Hi {{ name }},</p>
        <h3>Welcome to Kind Heart Charity Login!! </h3>

        <p>Thank you for visiting our website . We have also sent you a confirmation email, please confirm your email
            address.</p>

        <p> Thanking You The Kind Heart Charity Team</p>
    </div>
    <div style="text-align: center; margin-top: 20px 0;">
        <p>© {% now 'Y' %} <a href="https://delighto.medium.com">Blog</a></p>
        <p>Follow us on <a href="https://twitter.com/DelightGbolahan">Twitter</a></p>
    </div>
</div>