{% extends "base.html" %} {% block body %}
    {{project.title}}
    {{project.target}}
    <hr>
    <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        
        <div class="star-rating">
            <span> rate</span>
            <input type="radio" id="star-1" name="rate" value="1">
            <label for="star-1"></label>
            <input type="radio" id="star-2" name="rate" value="2">
            <label for="star-2"></label>
            <input type="radio" id="star-3" name="rate" value="3">
            <label for="star-3"></label>
            <input type="radio" id="star-4" name="rate" value="4">
            <label for="star-4"></label>
            <input type="radio" id="star-5" name="rate" value="5">
            <label for="star-5"></label>
        </div><br>
        {{ review_form.rate.errors }}
    
        <div>
            <label for="{{ review_form.comment.id_for_label }}">Comment:</label>
            {{ review_form.comment }}
            {{ review_form.comment.errors }}
        </div>
    
        <button type="submit">Submit Review</button>
    </form>
    <h1>
        Total Donations: {{total_donations}}
    </h1>
    <hr>
    <h2> ALL Reviews</h2>
    {% for review in all_reviews %}
        <p>{{review.user}} |  {{review.comment}} | </p> 
    {% endfor %}
{% endblock body %}